@import '../../assets/styles/variables';

.menu-mobile {
	max-width: 100%;

	&__nav {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem;
		background-color: $bgMenu;

		&__list {
			list-style-type: none;
		}
	}
}

.hamb {
	cursor: pointer;
	padding: 0 0 0.5rem 1rem;
}

.box {
	position: absolute;
	right: 5%;
	top: 10%;
	width: 90%;
	max-width: 450px;
	margin: auto;
	padding: 2.5rem;
	background-color: $white;
	z-index: 3;
	list-style-type: none;
}

.menu-mobile__nav__list .menu-mobile__nav__item .box {
	display: none;
}

.menu-mobile__nav__list .menu-mobile__nav__item:hover .box,
.menu-mobile__nav__list .menu-mobile__nav__item .box:hover {
	display: block;
}
