@import '../../assets/styles/variables';

.services {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

@media (min-width: 750px) {
  .services {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}