@import '../../assets/styles/variables';
.dinamic-img {
  max-width: 100%;
}

.picture__src {
  height: 100%;
	max-width: 100%;
}

.picture__img {
  height: 100%;
	width: 100%;
  display: inline-block;
}
