@import '../../assets/styles/variables.scss';

.learn-more {
	position: relative;
	z-index: 2;
	text-decoration: none;
	text-transform: uppercase;
	color: $mainTitleNameTesti;
	cursor: pointer;

	font: {
		family: $titleFont;
		size: 4vw;
		weight: 900;
	}

	&::before {
		content: '';
		position: absolute;
		top: 65%;
		left: -6%;
		width: 115%;
		height: 2.5vw;
		z-index: -1;
		border-radius: 8px;
		transition: 0.35s;
	}

	&--red {
		&::before {
			background: $redBorder;
		}
		&:hover::before {
			background-color: $redHover;
		}
	}

	&--yellow {
		&::before {
			background: $yellowHover;
		}
		&:hover::before {
			background-color: $yellow;
		}
	}
}

@media (min-width: 750px) {
	.learn-more {
		&::before {
			height: 0.9vw;
		}

		&--red {
			font-size: 1.25vw;
		}

		&--yellow {
			font-size: 1.25vw;
		}
	}
}
