@import "../../assets/styles/variables.scss";

@mixin borderHoverColor($colorBorder, $colorHover) {
  position: relative;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainTitleNameTesti;
  cursor: pointer;

  font: {
    family: $titleFont;
    weight: 900;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 65%;
    left: -6%;
    width: 115%;
    height: 0.7rem;
    background: $colorBorder;
    z-index: -1;
    border-radius: 8px;
    transition: 0.35s;
  }

  &:hover::before {
    background: $colorHover;
  }
}

.learn-more {
  &--red {
    @include borderHoverColor($redBorder, $redHover);
  }

  &--yellow {
    @include borderHoverColor($yellowHover, $yellow);
  }
}
