@import "../../assets/styles/variables.scss";

@mixin borderHoverColor($colorBorder, $colorHover) {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainTitleNameTesti;
  font: {
    family: $titleFont;
    weight: 900;
    size: 1.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 65%;
    left: -6%;
    width: 115%;
    height: 0.7rem;
    background: $colorBorder;
    z-index: -1;
    border-radius: 0.5rem;
    transition: 0.35s;
  }

  &:hover::before {
    background: $colorHover;
  }
}

.learn-more {
  &__link--red {
    @include borderHoverColor($redBorder, $redHover);
  }

  &__link--yellow {
    @include borderHoverColor($yellowBorder, $yellowHover);
  }
}
