@import "../../assets/styles/variables";

.op-l {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      text-decoration: none;
      text-transform: capitalize;
      font: {
        size: clamp(1vw, 1.5vw, 2vw);
      }
      padding: 1.5rem;
      cursor: pointer;
    }
  }

  // &__list-m {
  //   flex-direction: column;
  //   gap: 2rem;

  //   @include menuColor(
  //     $mainText,
  //     $mainTextHover,
  //     $yellowHover,
  //     $mainTitleNameTesti,
  //     $mainTitleNameTesti,
  //     $yellowBorder
  //   );
  // }
}

.contact {
  text-transform: uppercase;
  font: {
    // family: $titleFont;
    weight: 900;
  }
  // background-color: $colorContactBg;
  // color: $mainTitleNameTesti;
  border-radius: 30px;
  padding: 1.05rem 1.5rem;

  //   &:hover {
  //     background-color: $colorContactHoverBg;
  //     color: $colorContactHover;
  //   }
}

.desktop {
  font-family: $textFont;
  color: $white;

  &:hover {
    color: $whiteHover;
  }
}
