@import '../../assets/styles/variables';

.op-l {
	&__list {
		&--desktop {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&--mobile {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			padding: 1rem;
		}

		&__item {
			margin: 0.5rem;
		}

		&__link {
			text-decoration: none;
			text-transform: capitalize;
			letter-spacing: 0;
			padding: 0.25rem;
			cursor: pointer;
			font: {
				family: $textFont;
				size: clamp(2.5vw, 3vw, 3.5vw);
			}
		}
	}
}

.desktop {
	color: $white;

	&:hover {
		color: $whiteHover;
	}
}

.mobile {
	color: $mainText;

	&:hover {
		color: $mainTextHover;
	}
}

.footer-op-link {
	color: $footerText;

	&:hover {
		color: $white;
	}
}

.contact {
	text-transform: uppercase;
	font: {
		family: $titleFont;
		weight: 900;
	}
	border-radius: 30px;

	&--desktop {
		background-color: $white;
		color: $mainTitleNameTesti;
		font-weight: 900;
		padding: 1.05rem 1.5rem;
		
		&:hover {
			background-color: $whiteHover;
			color: $white;
		}
	}

	&--mobile {
		background-color: $yellow;
		color: $mainTitleNameTesti;
		font-weight: 900;
		padding: clamp(1.5vw, 2vw, 3vw);
		
		&:hover {
			color: $white;
		}
	}
}
