@import '../../assets/styles/variables';

.co-presentations {
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $white;
		text-align: center;

		&--size {
			width: 75%;
		}

		&__title {
			margin: 1vw 0 5vw 0;
			font: {
				family: $titleFont;
				size: 7vw;
				weight: 900;
			}
			letter-spacing: -2px;
			color: $mainTitleNameTesti;
		}

		&__p {
			margin-bottom: 8vw;
			font: {
				family: $textFont;
				size: 3.5vw;
			}
			color: $testimonialTitle;
			line-height: 6vw;
		}
	}
}

.co-presentations:nth-child(1n + 1) > div:first-child {
	grid-column: 1;
	grid-row: 2;
}

@media (min-width: 750px) {
	.co-presentations {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);

		&__text {
			text-align: start;

			&__title {
				font-size: clamp(2vw, 3vw, 4vw);
				margin-bottom: 2vw;
			}

			&__p {
				margin-bottom: 1vw;
				font-size: clamp(1vw, 1.5vw, 2vw);
				line-height: 2.5vw;
			}
		}
	}

	.co-presentations:nth-child(1n + 1) > div:first-child {
		grid-column: 1;
		grid-row: 1;
	}
	.co-presentations:nth-child(2n + 2) > div:first-child {
		grid-column: 2;
		grid-row: 1;
	}
}
