@import '../../assets/styles/variables';

.testimonials {
	height: 100vh;
  
  &__title {
    padding: 5%;
    margin-top: 2rem;
    font: {
      size: 1.25rem;
      family: $titleFont;
    }
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $testimonialTitle;
	}

	&__profiles {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 2rem;
	}
}
