// Import variables
@import '../../assets/styles/variables';

.menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    margin: 1.5rem;
}