// Import variables
@import '../../assets/styles/variables';

.menu-desktop {

    &__list{
        list-style-type: none;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bgMenu;
    };

    // &__item {

    //     border: 2px solid red;
    // };

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        font: {
            family: $textFont;
        };
        color: $white;
        padding: 10px;
        cursor: pointer;

        &--principal {
            text-transform: uppercase;
            font: {
                family: $titleFont;
            };
            background-color: $white;
            color: $mainTitleNameTesti;
            border-radius: 30px;
            padding: 1.05rem 1.5rem;

            &:hover {
                background-color: $whiteHover;
                color: $white;
            };

        }
    };
    
}