@import '../../assets/styles/variables';

.menu-desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	box-sizing: border-box;
	padding: 2rem;
	background-color: $bgMenu;
}
