// General settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

// Import media query
@import url(mediaQuery.scss);
@import url(Menu.scss);

// Import font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// Variables
$redHover: hsl(7, 99%, 70%);
$yellowHover: hsl(51, 100%, 49%) ;
$textGraphic: hsl(167, 40%, 24%);
$textProto: hsl(198, 62%, 26%);
$mainTitleNameTesti: hsl(212, 27%, 19%);
$mainText: hsl(213, 9%, 39%);
$testimonialTitle: hsl(210, 4%, 67%);
$testimonialText: hsl(232, 10%, 55%);
$footerText: hsl(168, 34%, 41%);

$titleFont: 'Fraunces', serif;
$textFont: 'Barlow', sans-serif;