* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}

@import '../src/assets/styles/variables.scss';

// body {
// 	background-color: $bgMenu;
// }

@media (min-width: 750px) {
	.title-container {
		top: 20%;
	}
}

@media (min-width: 855px) {
	.title-container {
		top: 40%;
	}
}

@media (min-width: 1000px) {
	.title-container {
		top: 55%;
	}
}

@media (min-width: 1150px) {
	.title-container {
		top: 65%;
	}
}

@media (min-width: 1600px) {
	.title-container {
		top: 70%;
	}
} ;

