// General settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

@import '../src/assets/styles/variables.scss';

// Import media query
@import './pages/mediaquery/mediaQuery.scss';


body {
    background-color: $bgMenu;
}