@import '../../assets/styles/variables';

.title-container {
	position: absolute;
	top: 25%;
	right: 0;
	left: 0;
	z-index: 1;
	max-width: 100%;

	&__title {
		max-width: 100%;
		text-align: center;
		z-index: 2;
		padding-bottom: 5vh;
		font: {
			weight: bolder;
			size: clamp(8vw, 10vw, 11vw);
			family: $titleFont;
		}
		letter-spacing: 6px;
		color: $white;
		text-transform: uppercase;
		color: $white;
	}

	&__arrow-down {
		max-width: 100%;
		display: block;
		margin: 2rem auto;
		z-index: 3;
		height: 20vh;
	}
}

@media (min-width: 750px) {
	.title-container {
		top: 10%;

		&__title {
			font-size: clamp(5vw, 6vw, 7vw);
			padding-bottom: 8vw;
		}

		&__arrow-down {
			height: 6vw;
		}
	}
}

@media (min-width: 1000px) {
	.title-container {
		top: 25%;
	}
}
