// Import font
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// Variables

// Color
$white: hsl(0, 0%, 100%);
$whiteHover: hsl(0, 0%, 100%, 0.35);
$bgMenu: hsl(200, 100%, 62%);
$redBorder: hsl(7, 99%, 70%, 0.5);
$redHover: hsl(7, 99%, 70%);
$yellowBorder: hsla(51, 100%, 49%, 0.5);
$yellowHover: hsl(51, 100%, 49%) ;
$textGraphic: hsl(167, 40%, 24%);
$textProto: hsl(198, 62%, 26%);
$mainTitleNameTesti: hsl(212, 27%, 19%);
$mainText: hsl(213, 9%, 39%);
$testimonialTitle: hsl(210, 4%, 67%);
$testimonialText: hsl(232, 10%, 55%);
$footerText: hsl(168, 34%, 41%);

// Font
$titleFont: 'Fraunces', serif;
$textFont: 'Barlow', sans-serif;